<!DOCTYPE html>
<html>
    <head>
        <title>Products | Store</title>
        <meta name="description" content="Cabana Joe's Hospitality Products">
        <link rel="stylesheet" href="style.css" />
        <script src="http//checkout.stripe.com/checkout.js" defer></script>
        <script>
            var stripePublicKey = '<%= stripePublicKey %>'
        </script>
        <script src="store.js" defer></script>
    </head>
    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="store.html">STORE</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                </ul>
            </nav>
            <h1 class="brand-name brand-name-large">Products</h1>
        </header>
        <section class="container content-section">
            <h2 class="section-header">Heaters</h2>
            <div class="shop-items">
                <% items.music.forEach(function(item){ %>
                    <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Outdoor Patio Heater</h2>
            <div class="shop-items">
                <% items.merch.forEach(function(item){ %>
                    <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                <% }) %>
                <section class="container content-section">
                    <h2 class="section-header">Bases</h2>
                    <div class="shop-items">
                        <% items.music.forEach(function(item){ %>
                            <div class="shop-item" data-item-id="<%= item.id %>">
                                <span class="shop-item-title"><%= item.name %></span>
                                <img class="shop-item-image" src="Images/<%= item.imgName %>">
                                <div class="shop-item-details">
                                    <span class="shop-item-price">$<%= item.price / 100 %></span>
                                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </section>
                <section class="container content-section">
                    <h2 class="section-header">Cushions</h2>
                    <div class="shop-items">
                        <% items.merch.forEach(function(item){ %>
                            <div class="shop-item" data-item-id="<%= item.id %>">
                                <span class="shop-item-title"><%= item.name %></span>
                                <img class="shop-item-image" src="Images/<%= item.imgName %>">
                                <div class="shop-item-details">
                                    <span class="shop-item-price">$<%= item.price / 100 %></span>
                                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                                </div>
                            </div>
                        <% }) %>
                        <section class="container content-section">
                            <h2 class="section-header">flatbrella</h2>
                            <div class="shop-items">
                                <% items.music.forEach(function(item){ %>
                                    <div class="shop-item" data-item-id="<%= item.id %>">
                                        <span class="shop-item-title"><%= item.name %></span>
                                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                                        <div class="shop-item-details">
                                            <span class="shop-item-price">$<%= item.price / 100 %></span>
                                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </section>
                        <section class="container content-section">
                            <h2 class="section-header">Drapery</h2>
                            <div class="shop-items">
                                <% items.merch.forEach(function(item){ %>
                                    <div class="shop-item" data-item-id="<%= item.id %>">
                                        <span class="shop-item-title"><%= item.name %></span>
                                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                                        <div class="shop-item-details">
                                            <span class="shop-item-price">$<%= item.price / 100 %></span>
                                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                                        </div>
                                    </div>
                                <% }) %>
                    </div>
                </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="brand-name">Cabana Joe</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="" target="_blank">
                            <img src="Image">
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <img src="Image">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="Image">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>